kiran-admin-system-api/src/main/mule/kiran-admin-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="kiran-admin-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS">
            <tls:context>
                <tls:key-store type="jks" path="mule.jks" keyPassword="password" password="password" />
            </tls:context>
        </http:listener-connection>
        <http:listener-interceptors>
            <http:cors-interceptor>
                <http:origins>
                    <http:public-resource />
                </http:origins>
            </http:cors-interceptor>
        </http:listener-interceptors>
    </http:listener-config>
    <apikit:config name="kiran-admin-system-api-config" api="kiran-admin-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="54a3944f-38df-455f-a1ba-e6307a649951">
        <db:my-sql-connection host="ec2-54-196-247-72.compute-1.amazonaws.com" port="3306" user="root" password="Good@123K" database="kiran_system_db" />
    </db:config>
    <validation:config name="Validation_Config" doc:name="Validation Config" doc:id="c7a21471-11d9-46a0-9b31-775cceceebbb" />
    <flow name="kiran-admin-system-api-main">
        <http:listener config-ref="kiran-admin-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="kiran-admin-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APP:USER_NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "user not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0

output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="kiran-admin-system-api-console">
        <http:listener config-ref="kiran-admin-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="kiran-admin-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\admin\admin_register:application\json:kiran-admin-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="ea74f6b9-6051-46b3-80ec-a65a43d7717e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var email= if(isEmpty(payload.email))
"DeltaDelete,"
else  "email= '"  ++ payload.email ++ "',"
var first_name= if(isEmpty(payload.first_name))
"DeltaDelete,"
else  "first_name= '"  ++ payload.first_name ++ "',"

var last_name= if(isEmpty(payload.last_name))
"DeltaDelete,"
else  "last_name= '"  ++ payload.last_name ++ "',"

var password= if(isEmpty(payload.password))
"DeltaDelete,"
else  "password= '"  ++ payload.password ++ "',"

var mobile_number= if(isEmpty(payload.mobile_number))
"DeltaDelete,"
else  "mobile_number= '"  ++ payload.mobile_number ++ "',"

var Designation= if(isEmpty(payload.Designation))
"DeltaDelete,"
else  "Designation= '"  ++ payload.Designation ++ "',"
var id_proof= if(isEmpty(payload.id_proof))
"DeltaDelete,"
else  "id_proof= '"  ++ payload.id_proof ++ "',"
var admin_id=  payload.admin_id
---
q:(("update admin_details set "++ email ++ first_name ++ last_name ++ password ++ mobile_number ++ Designation ++ id_proof ++ "where admin_id="  ++ admin_id) replace  "DeltaDelete," with "") replace  ",where" with " where"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:update doc:name="Update" doc:id="553bece2-0a07-42e6-bc37-6482300542e6" config-ref="Database_Config">
            <db:sql><![CDATA[#[payload.q]]]></db:sql>
            <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
        </db:update>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\admin\psy_approval_details:application\json:kiran-admin-system-api-config">
        <db:update doc:name="Update" doc:id="98fbc3f0-389c-4fec-ad29-2b47cf794527" config-ref="Database_Config">
            <db:sql><![CDATA[update psychiatrist_signup_details set status = :status where email = :email;]]></db:sql>
            <db:input-parameters><![CDATA[#[{
status :payload.status,
email :payload.email
}]]]></db:input-parameters>
        </db:update>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\admin\admin_register:application\json:kiran-admin-system-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="72c2c3da-3470-470d-a5fd-49283e6eaf56" />
        <db:delete doc:name="Delete" doc:id="6ec7d913-fe68-407a-a451-15e370144d39" config-ref="Database_Config">
            <db:sql><![CDATA[delete from admin_details where admin_id=:admin_id;]]></db:sql>
            <db:input-parameters><![CDATA[#[{
admin_id: payload.admin_id
}]]]></db:input-parameters>
        </db:delete>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\admin\admin_register:kiran-admin-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="b55f2d69-c012-4deb-b9f6-d189f2ef8092">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var email= if(isEmpty(attributes.queryParams.email))
"DeltaDelete,"
else  "email= '"  ++ attributes.queryParams.email ++ "'"
var mobile_number= if(isEmpty(attributes.queryParams.mobile_number))
"DeltaDelete,"
else  ",mobile_number= '"  ++ attributes.queryParams.mobile_number ++ "'"

---

z:(("select first_name,last_name,email,Designation, mobile_number, id_proof from admin_details where "++ email ++ mobile_number) replace  "DeltaDelete," with " ")]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:select doc:name="Select" doc:id="b0e758a3-501a-4f25-a0f3-8914c7902783" config-ref="Database_Config">
            <db:sql><![CDATA[#[payload.z]]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	'email':attributes.queryParams.email,
	'mobile_number':attributes.queryParams.mobile_number
}]]]></db:input-parameters>
        </db:select>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\admin\patientDetailsDisplay:kiran-admin-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="2beaf791-4619-448c-968e-94c83380f64f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var Location= if(isEmpty(attributes.queryParams.Location))
"DeltaDelete,"
else  "Location= '"  ++ attributes.queryParams.Location ++ "'"
var gender= if(isEmpty(attributes.queryParams.gender))
"DeltaDelete,"
else  ",gender= '"  ++ attributes.queryParams.gender ++ "'"
var age= if(isEmpty(attributes.queryParams.age))
"DeltaDelete,"
else  ",age= '"  ++ attributes.queryParams.age ++ "'"

var ptid= if(isEmpty(attributes.queryParams.ptid))
"DeltaDelete,"
else  ",ptid= "  ++ attributes.queryParams.ptid ++ ""

---
if(isEmpty(attributes.queryParams))
s:"select * from patient_details;"
else
s:(("select ptid,name,age,gender,Disease,Test_score,mobile_number,Location,email,consulted_doctor,lastloginDate,createDate,nation,marital_status from patient_details where "++ Location ++ gender ++ age ++ ptid) replace  "DeltaDelete," with "")replace "where ," with "where "]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:select doc:name="Select" doc:id="2c20a59d-e5e6-4877-b6b8-d523fa619a63" config-ref="Database_Config">
            <db:sql><![CDATA[#[payload.s]]]></db:sql>
            <db:input-parameters><![CDATA[#[{'Location':attributes.queryParams.Location,
 'age':attributes.queryParams.age,
 'gender':attributes.queryParams.gender
}]]]></db:input-parameters>
        </db:select>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\admin\psy_approval_details:kiran-admin-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="efae1ec8-67cf-4599-8b92-fbca67aee4c1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var location= if(isEmpty(attributes.queryParams.location))
"DeltaDelete,"
else  "location= '"  ++ attributes.queryParams.location ++ "'"
var status= if(isEmpty(attributes.queryParams.status))
"DeltaDelete,"
else  ",status= '"  ++ attributes.queryParams.status ++ "'"
---
if(isEmpty(attributes.queryParams))
r:"select psyID,name, age, gender, working_experience, phone_number, email, image, about_you, experience, qualification, affiliations, languages_known, status, location from psychiatrist_signup_details;"
else
r:(("select psyID,name, age, gender, working_experience, phone_number, email, image, about_you, experience, qualification, affiliations, languages_known, status, location from psychiatrist_signup_details where "++ location ++ status) replace  "DeltaDelete," with "")replace "where ," with "where "]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:select doc:name="Select" doc:id="aef811fe-4c86-4e95-8037-b5a9a6c25632" config-ref="Database_Config">
            <db:sql><![CDATA[#[payload.r]]]></db:sql>
            <db:input-parameters><![CDATA[#[{
	'location':attributes.queryParams.location,
	'status':attributes.queryParams.status
}]]]></db:input-parameters>
        </db:select>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\admin\admin_login:application\json:kiran-admin-system-api-config">
        <db:select doc:name="Select" doc:id="33a9b385-f0d1-4d6f-9b29-5f15ddd801fd" config-ref="Database_Config">
            <db:sql><![CDATA[select *
from kiran_system_db.admin_login_details where email=:email and password=:password;]]></db:sql>
            <db:input-parameters><![CDATA[#[{
email:payload.username,
password:payload.password
}]]]></db:input-parameters>
        </db:select>
        <validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="4df6028e-ef61-4aa0-bd20-333dd21d9339" message="#[&quot;user not found&quot;]" config-ref="Validation_Config">
            <error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:USER_NOT_FOUND" />
        </validation:is-not-empty-collection>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"status": "ok",
	"message": "user is valid"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\admin\admin_register:application\json:kiran-admin-system-api-config">
        <db:insert doc:name="Insert" doc:id="ea6e751e-c9fc-40b2-b90d-22e4af59e163" config-ref="Database_Config">
            <db:sql><![CDATA[insert into admin_details values(default,:first_name,:last_name,:email,:password,:confirm_password,:Designation,:mobile_number,:id_proof);]]></db:sql>
            <db:input-parameters><![CDATA[#[{
first_name :payload.first_name,
last_name :payload.last_name,
email :payload.email,
password :payload.password,
confirm_password: payload.confirm_password,
Designation: payload.Designation,
mobile_number:payload.mobile_number,
id_proof:payload.id_proof
}]]]></db:input-parameters>
        </db:insert>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\admin\induvidualPatientDetails\(ptid):kiran-admin-system-api-config">
        <db:select doc:name="Select" doc:id="e1d3b918-2ddf-4cdc-b8be-b84f86a636e7" config-ref="Database_Config">
            <db:sql><![CDATA[select * from patient_details where ptid=:ptid]]></db:sql>
            <db:input-parameters><![CDATA[#[{
ptid:attributes.uriParams.ptid
}]]]></db:input-parameters>
        </db:select>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\admin\induvidualPsyDetails\(psyID):kiran-admin-system-api-config">
        <db:select doc:name="Select" doc:id="f086467a-1af3-4a00-bf9f-004896b0cdab" config-ref="Database_Config">
			<db:sql ><![CDATA[select psyID, name, age, gender, working_experience, phone_number, email, image, about_you, experience, qualification, affiliations, languages_known, status, location from psychiatrist_signup_details where psyID=:psyID;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	psyID: attributes.uriParams.psyID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
